---
import { Icon } from 'astro-icon/components';
---

<div class="search-container">
  <Icon name="mdi:magnify" class="icon" size={24} />
  <input type="search" id="search-bar" placeholder="Search..." />
</div>

<style>
  .search-container {
    position: relative;
    width: 100%; /* Pełna szerokość kontenera nadrzędnego */
  }
  #search-bar {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 2.5rem; /* Lewy padding na ikonę */
    border-radius: 8px;
    border: 1px solid var(--text);
    background-color: var(--primary);
    color: var(--text);
    transition: box-shadow 0.2s;
  }
  #search-bar:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--text);
  }
  .icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text);
    opacity: 0.6;
  }
</style>